.loading {
  height: 48px;
  width: 48px;
  color: rgba(90, 90, 90, 0.096);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #5a5a5ab7;
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  /* font-weight: 700; */
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: 0 3px 15px 4px #ffffff81;
}

.movies {
  padding: 30px;
  padding-top: 60px;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
