.container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-rows: 70px 350px minmax(70px, max-content);
  grid-template-columns: 300px;
  font-family: "Varela Round", sans-serif;
}

.title {
  padding-bottom: 0px;
  text-align: center;
  align-self: end;
}
.titleLink {
  justify-items: center;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-size: 25px;
  font-weight: 500;
}
.img {
  border-radius: 10px;
  box-shadow: 1px 2px 16px 5px #696969c9;
}
.genresList {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-block: 0px;
  list-style: none;
  padding-inline-start: 0px;
  gap: 5px;
  grid-template-columns: repeat(3, minmax(max-content, auto));
  font-size: 13px;
}
.genresItem {
  justify-self: center;
  align-self: center;
  /* background-color: rgb(124, 124, 124); */
  border: 2px solid rgba(175, 175, 175, 0.616);
  color: rgb(201, 201, 201);
  padding: 5px;
  border-radius: 10px;
}
