* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1a1a1a;
  font-family: "Open Sans", "Malgun Gothic", "sans-serif", "Helvetica",
    "Helvetica Neue";
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
